.button .loader {
  display: inline;
}
.btn-primary {
  color: #000000;
  border-radius: 10px;
  background-color: transparent;
  border-color: #000000;
  padding: 12px 32px;
  transition: all 0.2s;
}
.btn-curve {
  color: #cb0c9f;
  margin-left: 8px;
  border-color: #cb0c9f;
}
.btn-curve:hover {
  color: #e96dcc;
  border-color: #e96dcc;
}
.btn-primary img {
  margin-bottom: 4px;
  margin-right: 5px;
}
.btn-primary:hover {
  background-color: unset;
  transform: scale(1.03);
  box-shadow: none;
}
.home-explore-btn {
  color: black;
  font-weight: 700;
  background: white;
  border-color: white;
}
.home-explore-btn:hover {
  color: black;
  background: white;
  border-color: white;
}
.home-loadmore-btn {
  color: #fff;
  background-image: linear-gradient(310deg, #141727 0%, #3a416f 100%);
}
.btn-primary:focus {
  box-shadow: none;
  background-color: var(--accent);
  border-color: #5d300a;
}
.btn:disabled {
  border-color: #2e2e2e;
  background-color: #2e2e2e;
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #b16f3682;
  border-color: #5d300a;
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

.btn-outline-primary img {
  margin-bottom: 4px;
  margin-right: 5px;
}
.btn-outline-primary {
  color: #fff;
  border-radius: 10px;
  border-color: var(--accent);
  padding: 12px 32px;
}
.btn-outline-primary:hover {
  background-color: var(--accent);
  border-color: #5d300a;
}
.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: none;
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: #b16f3682;
  border-color: #5d300a;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

.btn-dark img {
  margin-bottom: 4px;
  margin-right: 11px;
}
.btn-dark {
  color: #fff;
  border-radius: 50px;
  background-color: #181818;
  padding: 16px 30px;
}
