.App {
  text-align: center;
  padding-top: 5vh;
}
.save-presales {
}
a:hover {
  color: rgb(35, 189, 35) !important;
}
.launchwall-logo {
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  width: 55%;
  flex-direction: column;
  justify-content: center;
}
.launchwall-logo img {
  width: 150px;
  margin-bottom: 2vh;
}
.launchwall-logo h1 {
  color: white;
  font-family: "Lobster", cursive;
  font-size: 3.5vmax !important;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}
.launchwall-logo p {
  font-size: 18px;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1vh;
  padding: 2vh 5vw;
  /* border: 2px solid white; */
  border-radius: 10px;
  justify-content: center;
  margin-top: 2vh;
  align-items: center;
  font-family: sans-serif;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.61);
}
.launchwall-logo:hover {
  cursor: pointer;
}
.launchwall-logo h1:after,
.launchwall-logo h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  height: 5px;
  background-color: #00000000;
}
.discover-btns {
}
