.App {
  text-align: center;
}
.save-presales {
}
a:hover {
  color: rgb(35, 189, 35) !important;
}
.launchwall-logo {
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: center;
}
.launchwall-logo h1 {
  color: white;
  font-family: "Lobster", cursive;
  font-size: 3.5vmax !important;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}
.launchwall-logo p {
  font-size: 18px;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.launchwall-logo:hover {
  cursor: pointer;
}
.launchwall-logo h1:after,
.launchwall-logo h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  height: 5px;
  background-color: #00000000;
}
.discover-btns {
  /* margin-bottom: 5vh; */
}
